.popover {
    position: absolute;
    width: 300px;
    background-color: white;
    padding:0 0 16px 0;
    display:flex;
    flex-direction: column;
    z-index:0;
}
.popover__title {
    background-color: whitesmoke;
    color:black;
    font-weight: normal;
    font-size:15px;
    margin:0;
    padding:10px;
    border-radius:5px 5px 0 0;
    border:1px solid rgb(194, 194, 194);
}
.popover__body {
    margin:0;    
    padding:10px;
    font-size:14px;
    color:black;
    border:1px solid rgb(194, 194, 194);
    border-top: none;
    border-radius:0 0 5px 5px;
    background-color:white;
}

.popover__body::after {
    position:absolute;
    content: '';
    width:20px;
    height:20px;
    background-color: white;
    display:block;
    left:50%;
    transform: translateX(-50%) rotate(45deg);
    border:1px solid rgb(194, 194, 194);
    z-index:-1;
}

.popover__body::before {
    position:absolute;
    content: '';
    width:28px;
    height:3px;
    background-color: white;
    display:block;
    left:50%;
    bottom:16px;
    transform: translateX(-50%);
    z-index:1;
}


